.modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.45);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease;
}

.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal_content{
    border-radius: 0.75rem;
    background-color: #fff;
    padding: 1.2rem;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_content>h2{
    margin-bottom: 1rem;
}
.editList{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}
.editList_item>span{
    margin-right: 0.2rem;
}
.editList_item>input{
    padding: 0.3rem;
}
.modal_content_btns{
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.modal_content_btns>button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #5f6368;
    color: #5f6368;
    border-radius: 0.4rem;
    padding: 0.2rem;
    opacity: 0.3;
    transition: 0.5s ease;
}
#save_btn{
    background-color: green;
    opacity: 1;
    color: #fff;
    border: none;
}
#save_btn:hover{
    opacity: 0.7;
}
.modal_content_btns>button:hover{
    opacity: 1;
}